.table {
  display:inline-block; 
}

.row { 
  display:table;
}

.cell {
  display:table-cell;
  padding:10px;
  width:200px;
}

.subHeading {
  font-weight: bold;
}

p {
  display: inherit;
}

body {
  size: auto;
  size: A4 portrait;
  padding: 10px;
  margin: 35px;
  border: 1px solid black;
}