/* Make HTML and body content viewable, layout to fill window */
html,
body
{
  padding:20px;
  margin:0px;
  colour: hsla(50, 90%, 50%, 1);
  background: hsla(0, 100%, 100%, 1);
  border: 5px solid hsla(0, 100%, 100%, 1);
  box-sizing: border-box;
}

/* Makes the html / webpage as tall or taller as the browser window */
html {
  min-height:100vh;
}

/* Makes the body as tall or taller as the browser window, less html element's padding */
body {
  min-height:calc(100vh - 2 * 20px);
}

/* Give all semantic body elements uniform layout style */
header,
nav,
main,
footer,
aside,
section,
article,
details,
div
{
  color: hsla(50, 90%, 50%, 1);
  background: hsla(0, 0%, 10%, 1);
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: 5px solid #0006;
}

/* Some basic styling for the starting page */

header {
  font-size: 400%;
  font-weight:bold;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.8), 2px  2px 2px rgba(0,0,0,0.8);

}

header * {
  color: hsla(50, 90%, 50%, 1);
  background: hsla(0, 0%, 10%, 1);
  vertical-align: middle;
}

header img {
  filter: drop-shadow(-1px -1px 3px white);
  -webkit-filter: drop-shadow(-1px -1px 3px white);
  margin-right: 40px;
}

nav {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  background: hsla(0, 0%, 0%, 1);
}

nav ul {
    padding: 0;
    margin: 0.2em;
    display: inline-block;
    list-style: none;
}

nav ul li {
  display: inline-block;  
  padding:0.2em;
}

a:link,  a:visited { 
  color: hsla(50, 90%, 50%, 1);
}
a:hover, a:active { 
  color: hsla(0, 0%, 10%, 1);
  background: hsla(50, 90%, 50%, 1);
}

nav a:link,  nav a:visited { 
  color: hsla(50, 90%, 50%, 1);
}
nav a:hover, nav a:active { 
  color: hsla(0, 0%, 0%, 1);
  background: hsla(50, 90%, 50%, 1);
}
.poster{
  width: 500px;
  height: 700px; 
}

/* Page content */
.content {
  padding: 16px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

footer * {
}